.banner{
    background-image: url('../../../..//asete/banner/banner.png');
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 1920px) and (max-width: 2199px){
    .banner{
        height: 80vh;
         background-size: contain;
    }

}
@media (min-width: 1440px) and (max-width: 1919px){
    .banner{
        height: 70vh;
         background-size: cover;
         background-position: center;
    }
    .box_hig{
        height: 80vh;
    }
}
@media (min-width: 1280px) and (max-width: 1369px){
    .banner{
        width: 100%;
        height: 70vh;
         background-size: cover;
    }
    .box_hig{
        height: 70vh;
    }
    .solution{
        font-size: 50px;
    }
    .detaile{
        padding: 12px 0;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        
    }
    .site{
        height: 49vh;
    }
 
}
@media (min-width: 1024px) and (max-width: 1189px){
    .banner{
        height: 55vh;
        background-position: center;
        background-size: cover;
    }
    .box_hig{
        height: 70vh;
    }
    .detaile{
        padding: 12px 0;
        display: none;
    }
    .site{
        height: 60vh;
    }
    .main-box{
        margin-bottom: 45px;
    }
   
 
}
@media (min-width: 768px) and (max-width: 1023px){
    .banner{
        height: 50vh;
        background-position: center;
         background-size: cover;
    }
    .box_hig{
        height: 70vh;
    }
    .detaile{
        padding: 12px 0;
        display: none;
    }
    .site{
        height: 50vh;
    }
    .main-box{
        margin-bottom: 45px;
    }
   
 
}


@media only screen and (max-width: 600px){
    .banner{
        height: 115vh;
        background-position: center;
        background-size: cover;
    }
}
@media only screen and (max-width: 320px){
    .banner{
        height: 130vh;
    }
    .margin{
        margin-bottom: 16px;
    }
    .margi{
        padding-top: 50px;
    }
}



